* {
    margin: 0;
    padding: 0;
    //border: 1px solid black;
}

body {
    font-family: 'Rubik', sans-serif;
}

.main-content {
    max-width: 1180px;
    margin: 0 auto;
    border: 0;
}

header {
    height: 40px;
    width: 100%;
    margin: 32px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.logo {
    left: 0;
    display: flex;
    align-items: center;
}

.logo-sign-layer {
    display: flex;
    justify-content: center;
    align-items: center;

    #ellipse {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #E5261E;
    }
    
    #vector {
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 5px;
        border-style: solid;
        border-width: 20px 0 20px 32px;
        border-color: transparent transparent transparent #FFFFFF;
    }
}

.logo-text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 11px;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.search-input {
    width: 320px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #333333;
    text-align: left;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.div-search-button {
    margin-left: 32px;  
}

.search-button {
    border: none;
    background-color: white;
    color: #E5261E;
    font-size: 16px;
}

.login-button {
    border: none;
    width: 113px;
    height: 38px;
    background-color: #E5261E;
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

.tabs {
    max-width: 310px;
    margin: 44px auto 0;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab {
    font-weight: 500;
    font-size: 28px;

    :hover {
        color: #E5261E;
        border-bottom: 2px solid #E5261E;
    }
}

.new {
    height: 478px;
    margin: 32px auto;
}

.new-header {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    //display: inline-block;
    width: 280px;
    height: 434px;
    //background-color: darksalmon;
    border-radius: 8px;
}

.card-name {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}

.card-image {
    width: 100%;
    height: 370px;
    position: relative;
}

.card-image-text {
    opacity: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #333333, $alpha: 0.8);
    color: #F2F2F2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    line-height: 22px;
    transition: opacity 0.25s;
    cursor: pointer;
}

.card-image-text:hover {
    opacity: 1;
}

.genres {
    height: 252px;
    margin: 0 auto 72px;
}

footer {
    height: 120px;
    background-color: #F2F2F2;
}