* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

.main-content {
  max-width: 1180px;
  margin: 0 auto;
  border: 0;
}

header {
  height: 40px;
  width: 100%;
  margin: 32px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-sign-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-sign-layer #ellipse {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #E5261E;
}

.logo-sign-layer #vector {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-style: solid;
  border-width: 20px 0 20px 32px;
  border-color: transparent transparent transparent #FFFFFF;
}

.logo-text {
  font-size: 20px;
  font-weight: 500;
  margin-left: 11px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
}

.search-input {
  width: 320px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #333333;
  text-align: left;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
}

.div-search-button {
  margin-left: 32px;
}

.search-button {
  border: none;
  background-color: white;
  color: #E5261E;
  font-size: 16px;
}

.login-button {
  border: none;
  width: 113px;
  height: 38px;
  background-color: #E5261E;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

.tabs {
  max-width: 310px;
  margin: 44px auto 0;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab {
  font-weight: 500;
  font-size: 28px;
}

.tab :hover {
  color: #E5261E;
  border-bottom: 2px solid #E5261E;
}

.new {
  height: 478px;
  margin: 32px auto;
}

.header {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.card {
  width: 280px;
  height: 434px;
  border-radius: 8px;
}

.card-name {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
}

.card-image {
  width: 100%;
  height: 370px;
  position: relative;
}

.card-image-text {
  opacity: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: #F2F2F2;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  line-height: 22px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  cursor: pointer;
}

.card-image-text:hover {
  opacity: 1;
}

.genres {
  height: 252px;
  margin: 0 auto 72px;
}

.genres-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.g-card {
  position: relative;
  width: 280px;
  height: 208px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 48px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

#g-card1:hover {
  background: linear-gradient(127.83deg, #f2c94c 8.44%, #f29a4a 91.36%);
}

#g-card2:hover {
  background: linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
}

#g-card3:hover {
  background: linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
}

#g-card4:hover {
  background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
}

#g-card1 {
  background: linear-gradient(127.83deg, rgba(242, 201, 76, 0.8) 8.44%, rgba(242, 154, 74, 0.8) 91.36%);
}

#g-card2 {
  background: linear-gradient(127.83deg, rgba(242, 153, 74, 0.8) 8.44%, rgba(235, 87, 87, 0.8) 91.36%);
}

#g-card3 {
  background: linear-gradient(127.83deg, rgba(86, 204, 242, 0.8) 8.44%, rgba(47, 128, 237, 0.8) 91.36%);
}

#g-card4 {
  background: linear-gradient(127.83deg, rgba(130, 130, 130, 0.8) 8.44%, rgba(51, 51, 51, 0.8) 91.36%);
}

.g-card-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.g-title {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #FFFFFF;
}

footer {
  height: 120px;
  background-color: #F2F2F2;
}
/*# sourceMappingURL=style.css.map */