* {
    margin: 0;
    padding: 0;
    //border: 1px solid black;
}

body {
    font-family: 'Rubik', sans-serif;
    a {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
}

header,
main,
.footer-content {
    max-width: 1180px;
    margin: 0 auto;
    border: 0;
}

main {
    margin-bottom: 72px;
}

.header-content {
    height: 40px;
    width: 100%;
    margin: 32px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    left: 0;
    display: flex;
    align-items: center;
}

.logo-sign-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    #ellipse {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #E5261E;
    }
    #vector {
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 5px;
        border-style: solid;
        border-width: 20px 0 20px 32px;
        border-color: transparent transparent transparent #FFFFFF;
    }
}

.logo-text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 11px;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.search-input {
    width: 320px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #333333;
    text-align: left;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
}

.div-search-button {
    margin-left: 32px;
}

.search-button {
    border: none;
    background-color: white;
    color: #E5261E;
    font-size: 16px;
}

.login-button {
    border: none;
    width: 113px;
    height: 38px;
    background-color: #E5261E;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #CC221B;
}

.tabs {
    max-width: 310px;
    margin: 44px auto 0;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.tab {
    background-color: white;
    border: none;
    font-weight: 500;
    font-size: 28px;
    box-sizing: b;
    height: 100%;
}

.tab:hover {
    color: #E5261E;
    border-bottom: 2px solid #E5261E;
    line-height: 33px;
}

.tv {
    display: none;
}

.new {
    height: 478px;
    margin-bottom: 32px;
}

.header {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    //display: inline-block;
    width: 280px;
    height: 434px;
    //background-color: darksalmon;
    border-radius: 8px;
}

.card-name {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}

.card-image {
    width: 100%;
    height: 370px;
    position: relative;
}

.card-image-text {
    opacity: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #333333, $alpha: 0.8);
    color: #F2F2F2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    line-height: 22px;
    transition: opacity 0.25s;
    cursor: pointer;
}

.card-image-text:hover {
    opacity: 1;
}

.genres {
    height: 252px;
}

.genres-cards {
    display: flex;
    justify-content: space-between;
}

.g-card {
    position: relative;
    width: 280px;
    height: 208px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 48px;
    transition: 0.25s;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}

#g-card1:hover {
    background: linear-gradient(127.83deg, rgba($color: #F2C94C, $alpha: 1) 8.44%, rgba($color: #F29A4A, $alpha: 1) 91.36%);
}

#g-card2:hover {
    background: linear-gradient(127.83deg, rgba($color: #F2994A, $alpha: 1) 8.44%, rgba($color: #EB5757, $alpha: 1) 91.36%);
}

#g-card3:hover {
    background: linear-gradient(127.83deg, rgba($color: #56CCF2, $alpha: 1) 8.44%, rgba($color: #2F80ED, $alpha: 1) 91.36%);
}

#g-card4:hover {
    background: linear-gradient(127.83deg, rgba($color: #828282, $alpha: 1) 8.44%, rgba($color: #333333, $alpha: 1) 91.36%);
}

#g-card1 {
    background: linear-gradient(127.83deg, rgba($color: #F2C94C, $alpha: 0.8) 8.44%, rgba($color: #F29A4A, $alpha: 0.8) 91.36%);
}

#g-card2 {
    background: linear-gradient(127.83deg, rgba($color: #F2994A, $alpha: 0.8) 8.44%, rgba($color: #EB5757, $alpha: 0.8) 91.36%);
}

#g-card3 {
    background: linear-gradient(127.83deg, rgba($color: #56CCF2, $alpha: 0.8) 8.44%, rgba($color: #2F80ED, $alpha: 0.8) 91.36%);
}

#g-card4 {
    background: linear-gradient(127.83deg, rgba($color: #828282, $alpha: 0.8) 8.44%, rgba($color: #333333, $alpha: 0.8) 91.36%);
}

.g-card-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.g-title {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
    left: 50%;
    transform: translate(-50%);
    color: #FFFFFF;
}

footer {
    height: 120px;
    background-color: #F2F2F2;
}

.footer-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.htc-logo {
    margin-left: 26px;
    margin-right: 40px;
}

.info {
    flex-grow: 1;
    font-size: 16px;
}

.address,
.number {
    font-weight: 400;
}

.address {
    margin-bottom: 6px;
}

.number {
    margin-bottom: 10px;
}

.htc-url {
    font-weight: 500;
    a {
        text-decoration: none;
        color: #1F4766;
    }
    a:visited {
        text-decoration: none;
    }
}